<!DOCTYPE html>
<html>
  <head>
    <title>MembersOnly</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class ="main-nav">
    <% if member_signed_in? %>
      <h1 class= "title">Hi <%= current_member.name %></h1>
      <%= link_to 'Logout', destroy_member_session_path, method: :delete, class: "button" %>
    <% else %>
      <%= link_to 'Sign In', new_member_session_path, class: "button" %>
      <%= link_to 'Sign Up', new_member_registration_path, class: "button" %>
    <% end %>
    </nav>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
