<!DOCTYPE html>
<html>
  <head>
    <title>MembersOnly</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
    <% if member_signed_in? %>
      <h1>Hi i am signed in!</h1>
      <%= link_to 'Logout', destroy_member_session_path, method: :delete %>
    <% else %>
      <%= link_to 'Sign In', new_member_session_path %>
      <%= link_to 'Sign Up', new_member_registration_path %>
    <% end %>
    </nav>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
